
<div class="d-flex flex-row justify-content-center">
  <div class="layout-container-page">
    <div class="layout-page">
      <form [formGroup]="userForm" (ngSubmit)="save()">
   
        <div class="content-wrapper">
  
          <div class="container-xxl flex-grow-1 container-p-y" id="profile">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Account Settings</h4>

            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <h5 class="card-header">Profile Details</h5>
          
                  <hr class="my-0" />
                  <div class="card-body">

                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input class="form-control" type="text" formControlName="firstName" placeholder="First Name" />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name" />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="middleName" class="form-label">Middle Name</label>
                        <input class="form-control" type="text" formControlName="middleName"
                          placeholder="Middle Name" />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="userName" class="form-label">Username</label>
                        <input class="form-control" type="text" formControlName="userName"
                          placeholder="Username" />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Email" />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="contactNo">Contact No.</label>
                          <input type="number" formControlName="contact" class="form-control"
                            placeholder="09XX-XXX-XXXX" />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="dob">Date of Birth</label>
                          <input type="date" formControlName="dob" class="form-control"/>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="form-label" for="loi">My Interests</label>
                        <input type="text" formControlName="loi" class="form-control"
                            placeholder="List of your interests" />
                    </div><br>
                    </div>
                    <div class="mt-2">
                      <button type="submit" class="btn us-btn-primary me-2">Save Changes</button>
                      <button type="reset" class="btn us-btn-secondary">Cancel</button>
                    </div>

                  </div>
                </div>

                <div class="card mb-4">
                  <h5 class="card-header">Your Home Address</h5>
                  <hr class="my-0" />
                  <div class="card-body address-group" formGroupName="address">
                    <div #target>
                      <div class="row">
                        <div class="mb-3 col-md-6">
                          <label for="street" class="form-label"></label>
                          <input class="form-control" type="text" formControlName="street"
                            placeholder="House No., Block No., Street Name" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="brgy" class="form-label"></label>
                          <input class="form-control" type="text" formControlName="brgy" placeholder="Barangay" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="city" class="form-label"></label>
                          <input class="form-control" type="text" formControlName="city" placeholder="City" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="province" class="form-label"></label>
                          <input class="form-control" type="text" formControlName="province" placeholder="Province" />
                        </div>
                        
                      </div>
                      <div class="mt-2">
                        <button type="submit" class="btn us-btn-primary me-2">Save Info</button>
                        <button type="reset" class="btn us-btn-secondary" id="password">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </form>
    </div>

  </div>

</div>