<section class="home-section-main-container">
    <div class="home-body container">
        <div class="left">
            <div class="title-wrapper ">
                <h1>Welcome to E-Shop : - )</h1>
            </div>
                <tr>
                <nav class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar">
        
                <!-- Search Bar -->
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                 
                    <input type="text" class="form-control border-0 shadow-none" [(ngModel)]="searchTerm"
                      (keyup)="search($event)" placeholder="Search Products" aria-label="Search..." />
                  </div>
                </div>
                <!-- /Search Bar -->
              </nav>
            
            <div class="form">
                <form action="">
                   
                </form>
            </div>
        </div>
    </div>
</section>