<section class="home-section-main-container">
    <div class="home-body container">
        <div class="left">
            <div class="title-wrapper "><br>
                <h1>Welcome to E-Shop : - )</h1>
            </div>
            <div class="search-container">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-us-primary" type="button" id="button-addon2">Search</button>
                    </div>
                </form>
            </div><br>
        </div>
        <div class="right">
            <div class="img-wrapper">
                <img width="1000" height="500" src="../../../assets/images/hero-banner.jpg"
                    alt="">
            </div>
        </div>
    </div>
</section><br>