<div class="container">
    <h4>Order Summary</h4>
    <hr class="padding-bottom-1x">
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th class="text-center">Total</th>
            
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            <div class="product-item">
                <a class="product-thumb" >
                <!-- <img [src]="item.product.image[0]" alt="{{item.product.name}}"> -->
                </a>
                <td>Business Attire</td>
            </div>
            </td>
            <td>1000</td>
            <td class="text-center text-lg text-medium">1000</td>
            
        </tr>

        </tbody>
    </table>
    </div>

    <div class="checkout-footer">
        <div class="column text-lg">Subtotal:
            <span class="text-medium">&#8369; 1,000</span>
        </div>
        <button type="button" class="btn btn-danger" (click)="placeOrder()">Place Order</button><br>
        <button type="button" class="btn btn-warning" (click)="backToCart()"> Back to Cart </button>
    </div>
</div>

<div class="container">
    <h4>Order Summary</h4>
    <hr class="padding-bottom-1x">
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th class="text-center">Total</th>
            
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            <div class="product-item">
                <a class="product-thumb" >
                <!-- <img [src]="item.product.image[0]" alt="{{item.product.name}}"> -->
                </a>
                <td>Business Attire</td>
            </div>
            </td>
            <td>1000</td>
            <td class="text-center text-lg text-medium">1000</td>
            
        </tr>

        </tbody>
    </table>
    </div>

    <div class="checkout-footer">
        <div class="column text-lg">Subtotal:
            <span class="text-medium">&#8369; 1,000</span>
        </div>
        <button type="button" class="btn btn-danger" (click)="placeOrder()">Place Order</button><br>
        <button type="button" class="btn btn-warning" (click)="backToCart()"> Back to Cart </button>
    </div>
</div>

